<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TestDB" providerName="System.Data.SqlClient" connectionString="Data Source=SEMPHIW-DESKTOP;Initial Catalog=TestDB;Integrated Security=True;MultipleActiveResultSets=True" />
  </connectionStrings>
</configuration>